<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>iManager Blog</title>
		<link rel="stylesheet" type="text/css" media="all" href="../resource/js/jscalendar/skins/aqua/theme.css" title="Aqua" />
		<script type="text/javascript" src="../resource/js/jscalendar/calendar.js"></script>
		<script type="text/javascript" src="../resource/js/jscalendar/showCalendar.js"></script>
		<script type="text/javascript" src="../resource/js/jscalendar/lang/cn_utf8.js"></script>
        <script type="text/javascript" src="../dwr/interface/BlogItem.js"></script>
        <script type="text/javascript" src="../dwr/engine.js"></script>
        <script type="text/javascript" src="../dwr/util.js"></script>
        <script type="text/javascript" src="../resource/js/util.js"></script>
        <script type="text/javascript" src="../resource/js/blog/content.js"></script>
    </head>
    <body  topmargin="10" bgcolor="#99CCFF">
    	<center>
    	#parse("/framework/header.vm")
			<br/><br/><br/>
				
			<table border="0" width="80%" cellpadding="0" cellspacing="0">
        		<tr valign="top">
        			<td align="left" width="150">
        				#parse("/blog/menu.vm")
        			</td>
        			<td>&nbsp;&nbsp;</td>
        			<td align="center">
                    	<h2>添加Blog</h2>
                    	<form id="blogContentForm" action="blogContentAction!addBlogContent.action" method="post">
                    		<table bgcolor="#E1E1E1" border="1" bordercolor="blue"width="100%" height="60"
                    			cellpadding="0" cellspacing="0" align="center" >
                    			<tr>
                					<td align="left">标题:</td>
                					<td align="left"><input type="text" id="blogContent.title" name="blogContent.title" value="$esc.html($!blogContent.title)"  size="100" maxlength="100"></td>
                    			</tr>
                    			<tr>
                					<td align="left">内容:</td>
                					<td align="left">
										<textarea id="blogContent.content" name="blogContent.content" value="$esc.html($!blogContent.content)" cols="99" rows="20"></textarea>
									</td>
                    			</tr>
                    			<tr>
                					<td align="left">日期:</td>
                					<td align="left">
                						<input type="text" id="blogContent.blogDate" name="blogContent.blogDate" readonly="true" value="$!dateUtil.date($!blogContent.blogDate, 'yyyy-MM-dd')" size="20"><input type="button" value="日历" onclick="return showCalendar('blogContent.blogDate', '%Y-%m-%d');">
                					</td>
                    			</tr>
                    			<tr>
                					<td align="left">天气:</td>
                					<td align="left"><input type="text" id="blogContent.weather" name="blogContent.weather" value="$esc.html($!blogContent.weather)" size="100" maxlength="100"></td>
                    			</tr>
                    			<tr>
                    				<td align="left">类型：</td>
                    				<td align="left">
                    					<input type="radio" name="blogContent.blogType" value="yc" checked="true">原创
                    					<input type="radio" name="blogContent.blogType" value="zz">转载&nbsp;&nbsp;
                    					明细1：<select id="blogContent.blogItem1Id" name="blogContent.blogItem1Id" onchange="getBlogItem2List();">
                    						<option value="0">请选择</option>
                							#foreach($blogItem1 in $blogItem1List)
                								<option value="$blogItem1.blogItem1Id">$blogItem1.itemChn</option>
                							#end
                    					</select>&nbsp;&nbsp;
                    					明细2：<select id="blogContent.blogItem2Id" name="blogContent.blogItem2Id">
                    						<option value="0">请选择</option>
                    					</select>
                    				</td>
                    			</tr>
                    			<tr>
                					<td align="left">登录ID:</td>
                					<td align="left"><input type="text" id="blogContent.loginId" name="blogContent.loginId" value="$!blogContent.loginId" readonly="true" size="20" maxlength="20"></td>
                    			</tr>
                    		</table>
                    		<input type="button" value="添加" onclick="checkBlogContentSubmit();"/>&nbsp;&nbsp;
                    		<input type="reset" value="取消" />
                    	</form>
					</td>
				</tr>
			</table>
    	</center>
    </body>
</html>