html {height: 100%;}

body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;font-size:14px;height:100%; background-color:#CEF9FF}

.div_banner_groud {background:#000;height:175px;background-image:url(../images/header/banner_03.jpg); repeat-x top center;}
.div_banner_space {height:145px;}

.div_banner_menu_space {float:left;height:30px;width:400px;}
.div_banner_menu {float:left;height:30px;width:150px;line-height:30px;}
.div_banner_menu a{display:block;text-align:center;height:30px;}
.div_banner_menu a:link{color:#FE4FA8;background:url(../images/header/arrow_off.gif) no-repeat 5px 12px;text-decoration:none;}
.div_banner_menu a:visited{color:#FE4FA8;text-decoration:none;}
.div_banner_menu a:hover{color:#FFF; font-weight:bold;text-decoration:none;background:url(../images/header/arrow_on.gif) #41CCF7 no-repeat 5px 12px;}

.div_left_menu {height:30px;width:150px;margin-left:0px;line-height:30px;}
.div_left_menu a{display:block;text-align:center;height:30px;}
.div_left_menu a:link{color:#666;background:url(../images/header/arrow_off.gif) #E1E1E1 no-repeat 5px 12px;text-decoration:none;}
.div_left_menu a:visited{color:#666;background:url(../images/header/arrow_off.gif) #E1E1E1 no-repeat 5px 12px;text-decoration:none;}
.div_left_menu a:hover{color:#FFF; font-weight:bold;text-decoration:none;background:url(../images/header/arrow_on.gif) #41CCF7 no-repeat 5px 12px;}