<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>iManager Contact</title>
		<link rel="stylesheet" type="text/css" media="all" href="../resource/css/globle.css"/>
		<link rel="stylesheet" type="text/css" media="all" href="../resource/js/jscalendar/skins/aqua/theme.css" title="Aqua" />
		<script type="text/javascript" src="../resource/js/jscalendar/calendar.js"></script>
		<script type="text/javascript" src="../resource/js/jscalendar/showCalendar.js"></script>
		<script type="text/javascript" src="../resource/js/jscalendar/lang/cn_utf8.js"></script>
		<script type="text/javascript" src="../resource/js/util.js"></script>
		
		<script type="text/javascript" src="../resource/js/contact/contact-item.js"></script>
		<script>
        	//下以脚本是显示城市代码
        	var catSel = 'contactItem.clCountry,contactItem.clProvince,contactItem.clCity,contactItem.clSubcity'.split(',');
        	var formName = 'contactItemForm';
        	var catName = 'area';
        	
        	function changeArea(obj) {
        		changeSubCat(obj);
        	}
        </script>
		<script type="text/javascript" src="../resource/js/area.js"></script>
	</head>
	<body>
    	#parse("/framework/header.vm")
		<div align="center">
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
        		<tr valign="top">
        			<td align="left" width="150px">
        				#parse("/contact/menu.vm")
        			</td>
        			<td>&nbsp;&nbsp;</td>
        			<td align="center">
                    	<h2>添加联系人详细</h2>
                    	<form id="contactItemForm" action="contactItemAction!addContactItem.action" enctype="multipart/form-data" method="post">
							<input type="hidden" id="area" name="area" value="" />
                    		<table bgcolor="#FFF5EE" border="1" bordercolor="#FE4FA8" width="900" cellpadding="0" cellspacing="0">
								<tr><th align="left" colspan="4">基本信息</th></tr>
                    			<tr>
                    				<td align="left" width="300">姓名:</td>
                    				<td align="left" width="250"><input type="text" id="contactItem.name" name="contactItem.name" value="$esc.html($!contactItem.name)" size="50" maxlength="20"></td>
									<td align="center" width="350" colspan="2" rowspan="10"><img src="http://localhost:8081/iManager/yangqiang/contact/photo/dddddd.jpg" width="450" height="250" /></td>
                    			</tr>
								<tr>
									<td align="left">拼音:</td>
                    				<td align="left"><input type="text" id="contactItem.pinyin" name="contactItem.pinyin" value="$esc.html($!contactItem.pinyin)" size="50" maxlength="20"></td>
								</tr>
								<tr>
									<td align="left">昵称:</td>
                    				<td align="left"><input type="text" id="contactItem.nickName" name="contactItem.nickName" value="$esc.html($!contactItem.nickName)" size="50" maxlength="20"></td>
                    			</tr>
								<tr>
                    				<td align="left">英文名:</td>
                    				<td align="left"><input type="text" id="contactItem.englishName" name="contactItem.englishName" value="$esc.html($!contactItem.englishName)" size="50" maxlength="20"></td>
								</tr>
								<tr>
                    				<td align="left">性别:</td>
                    				<td align="left">
										<input type="radio" name="contactItem.sex" value="M" checked>男&nbsp;
										<input type="radio" name="contactItem.sex" value="F">女
									</td>
								</tr>
								<tr>
									<td align="left">婚姻状况:</td>
                    				<td align="left">
										<input type="radio" name="contactItem.marriage" value="yes" checked>已婚&nbsp;
										<input type="radio" name="contactItem.marriage" value="no">未婚
									</td>
								</tr>
								<tr>
                    				<td align="left">出生日期:</td>
                    				<td align="left">
										<input type="text" id="contactItem.birthday" name="contactItem.birthday" value="$!dateUtil.date($!contactItem.birthday, 'yyyy-MM-dd')" readonly="true" size="20"><input type="button" value="日历" onclick="return showCalendar('contactItem.birthday', '%Y-%m-%d');">
									</td>
								</tr>
								<tr>
									<td align="left">年龄:</td>
                    				<td align="left"><input type="text" id="contactItem.age" name="contactItem.age" value="$esc.html($!contactItem.age)" readonly="true" size="50" maxlength="50"></td>
                    			</tr>
								<tr>
                    				<td align="left">籍贯:</td>
                    				<td align="left"><input type="text" id="contactItem.nativePlace" name="contactItem.nativePlace" value="$esc.html($!contactItem.nativePlace)" size="50" maxlength="100"></td>
								</tr>
								<tr>
									<td align="left">联系类型:</td>
									<td align="left">
										<select id="contactItem.contactType.contactTypeId" name="contactItem.contactType.contactTypeId">
											<option value="0">请选择</option>
											#foreach($contactType in $contactTypeList)
												<option value="$contactType.contactTypeId">$esc.html($contactType.contactType)</option>
											#end
										</select>
									</td>
                    			</tr>
								<tr>
									<td align="left">现居住地:</td>
                    				<td align="left" colspan="3">
            		                	<select id="country" style="font-family: Verdana; font-size: 11px; width: 100px;" name="contactItem.clCountry" onchange="javascript:changeArea(this);">
            		                	</select>
            		                	<select id="province" style="font-family: Verdana; font-size: 11px; width: 100px;" name="contactItem.clProvince" onchange="javascript:changeArea(this);">
            		                	</select>
            		                	<select id="city" style="font-family: Verdana; font-size: 11px; width: 100px;" name="contactItem.clCity" onchange="javascript:changeArea(this);">
            		                	</select>
            		                	<select id="subcity" style="font-family: Verdana; font-size: 11px; width: 100px;" name="contactItem.clSubcity">
            		                	</select>
										&nbsp;&nbsp;照片：<input type="file" id="picture" name="picture" >
									</td>
								</tr>
								<tr><th align="left" colspan="4">联系信息</th></tr>
								<tr>
                    				<td align="left" width="300">联系地址:</td>
                    				<td align="left" width="250"><input type="text" id="contactItem.address" name="contactItem.address" value="$esc.html($!contactItem.address)" size="50" maxlength="100"></td>
									<td align="left" width="100">邮编:</td>
                    				<td align="left" width="200"><input type="text" id="contactItem.zip" name="contactItem.zip" value="$esc.html($!contactItem.zip)" size="50" maxlength="10"></td>
                    			</tr>
								<tr>
                    				<td align="left">就读学校:</td>
                    				<td align="left"><input type="text" id="contactItem.school" name="contactItem.school" value="$esc.html($!contactItem.school)" size="50" maxlength="100"></td>
									<td align="left">学校地址:</td>
                    				<td align="left"><input type="text" id="contactItem.schoolAddress" name="contactItem.schoolAddress" value="$esc.html($!contactItem.schoolAddress)" size="50" maxlength="100"></td>
                    			</tr>
								<tr>
                    				<td align="left">工作单位:</td>
                    				<td align="left"><input type="text" id="contactItem.company" name="contactItem.company" value="$esc.html($!contactItem.company)" size="50" maxlength="100"></td>
									<td align="left">单位地址:</td>
                    				<td align="left"><input type="text" id="contactItem.companyAddress" name="contactItem.companyAddress" value="$esc.html($!contactItem.companyAddress)" size="50" maxlength="100"></td>
                    			</tr>
								<tr>
                    				<td align="left">手机:</td>
									<td align="left">
										<input type="text" id="contactItem.mobile1" name="contactItem.mobile1" value="$esc.html($!contactItem.mobile1)" size="25" maxlength="20">
										城市:<input type="text" id="contactItem.mobile1City" name="contactItem.mobile1City" value="$esc.html($!contactItem.mobile1City)" size="17" maxlength="20">
									</td>
									<td align="left">手机2:</td>
									<td align="left">
										<input type="text" id="contactItem.mobile2" name="contactItem.mobile2" value="$esc.html($!contactItem.mobile2)" size="25" maxlength="20">
										城市:<input type="text" id="contactItem.mobile2City" name="contactItem.mobile2City" value="$esc.html($!contactItem.mobile2City)" size="17" maxlength="20">
									</td>
                    			</tr>
								<tr>
                    				<td align="left">家庭电话:</td>
									<td align="left">
										<input type="text" id="contactItem.familyPhone1" name="contactItem.familyPhone1" value="$esc.html($!contactItem.familyPhone1)" size="25" maxlength="20">
										城市:<input type="text" id="contactItem.familyPhone1City" name="contactItem.familyPhone1City" value="$esc.html($!contactItem.familyPhone1City)" size="17" maxlength="20">
									</td>
									<td align="left">家庭电话2:</td>
									<td align="left">
										<input type="text" id="contactItem.familyPhone2" name="contactItem.familyPhone2" value="$esc.html($!contactItem.familyPhone2)" size="25" maxlength="20">
										城市:<input type="text" id="contactItem.familyPhone2City" name="contactItem.familyPhone2City" value="$esc.html($!contactItem.familyPhone2City)" size="17" maxlength="20">
									</td>
                    			</tr>
								<tr>
                    				<td align="left">工作电话:</td>
									<td align="left">
										<input type="text" id="contactItem.workPhone1" name="contactItem.workPhone1" value="$esc.html($!contactItem.workPhone1)" size="25" maxlength="20">
										城市:<input type="text" id="contactItem.workPhone1City" name="contactItem.workPhone1City" value="$esc.html($!contactItem.workPhone1City)" size="17" maxlength="20">
									</td>
                    				<td align="left">工作电话2:</td>
									<td align="left">
										<input type="text" id="contactItem.workPhone2" name="contactItem.workPhone2" value="$esc.html($!contactItem.workPhone2)" size="25" maxlength="20">
										城市:<input type="text" id="contactItem.workPhone2City" name="contactItem.workPhone2City" value="$esc.html($!contactItem.workPhone2City)" size="17" maxlength="20">
									</td>
                    			</tr>
								<tr>
                    				<td align="left">Email:</td>
									<td align="left">
										<input type="text" id="contactItem.email1" name="contactItem.email1" value="$esc.html($!contactItem.email1)" size="25" maxlength="30">
										备注:<input type="text" id="contactItem.email1Note" name="contactItem.email1Note" value="$esc.html($!contactItem.email1Note)" size="17" maxlength="30">
									</td>
                    				<td align="left">Email2:</td>
									<td align="left">
										<input type="text" id="contactItem.email2" name="contactItem.email2" value="$esc.html($!contactItem.email2)" size="25" maxlength="30">
										备注:<input type="text" id="contactItem.email2Note" name="contactItem.email2Note" value="$esc.html($!contactItem.email2Note)" size="17" maxlength="30">
									</td>
                    			</tr>
								<tr>
                    				<td align="left">QQ:</td>
									<td align="left">
										<input type="text" id="contactItem.qq1" name="contactItem.qq1" value="$esc.html($!contactItem.qq1)" size="25" maxlength="15">
										备注:<input type="text" id="contactItem.qq1Note" name="contactItem.qq1Note" value="$esc.html($!contactItem.qq1Note)" size="17" maxlength="30">
									</td>
                    				<td align="left">QQ2:</td>
									<td align="left">
										<input type="text" id="contactItem.qq2" name="contactItem.qq2" value="$esc.html($!contactItem.qq2)" size="25" maxlength="15">
										备注:<input type="text" id="contactItem.qq2Note" name="contactItem.qq2Note" value="$esc.html($!contactItem.qq2Note)" size="17" maxlength="30">
									</td>
                    			</tr>
								<tr>
                    				<td align="left">Msn:</td>
									<td align="left">
										<input type="text" id="contactItem.msn1" name="contactItem.msn1" value="$esc.html($!contactItem.msn1)" size="25" maxlength="30">
										备注:<input type="text" id="contactItem.msn1Note" name="contactItem.msn1Note" value="$esc.html($!contactItem.msn1Note)" size="17" maxlength="30">
									</td>
                    				<td align="left">Msn2:</td>
									<td align="left">
										<input type="text" id="contactItem.msn2" name="contactItem.msn2" value="$esc.html($!contactItem.msn2)" size="25" maxlength="30">
										备注:<input type="text" id="contactItem.msn2Note" name="contactItem.msn2Note" value="$esc.html($!contactItem.msn2Note)" size="17" maxlength="30">
									</td>
                    			</tr>
								<tr>
                    				<td align="left">雅虎通:</td>
									<td align="left">
										<input type="text" id="contactItem.yahoo1" name="contactItem.yahoo1" value="$esc.html($!contactItem.yahoo1)" size="25" maxlength="30">
										备注:<input type="text" id="contactItem.yahoo1Note" name="contactItem.yahoo1Note" value="$esc.html($!contactItem.yahoo1Note)" size="17" maxlength="30">
									</td>
                    				<td align="left">雅虎通2:</td>
									<td align="left">
										<input type="text" id="contactItem.yahoo2" name="contactItem.yahoo2" value="$esc.html($!contactItem.yahoo2)" size="25" maxlength="30">
										备注:<input type="text" id="contactItem.yahoo2Note" name="contactItem.yahoo2Note" value="$esc.html($!contactItem.yahoo2Note)" size="17" maxlength="30">
									</td>
                    			</tr>
								<tr>
                    				<td align="left">旺旺:</td>
									<td align="left">
										<input type="text" id="contactItem.aliwang1" name="contactItem.aliwang1" value="$esc.html($!contactItem.aliwang1)" size="25" maxlength="20">
										备注:<input type="text" id="contactItem.aliwang1Note" name="contactItem.aliwang1Note" value="$esc.html($!contactItem.aliwang1Note)" size="17" maxlength="30">
									</td>
                    				<td align="left">旺旺2:</td>
									<td align="left">
										<input type="text" id="contactItem.aliwang2" name="contactItem.aliwang2" value="$esc.html($!contactItem.aliwang2)" size="25" maxlength="20">
										备注:<input type="text" id="contactItem.aliwang2Note" name="contactItem.aliwang2Note" value="$esc.html($!contactItem.aliwang2Note)" size="17" maxlength="30">
									</td>
                    			</tr>
								<tr>
                    				<td align="left">个人主页:</td>
									<td align="left">
										<input type="text" id="contactItem.web1" name="contactItem.web1" value="$esc.html($!contactItem.web1)" size="25" maxlength="100">
										备注:<input type="text" id="contactItem.web1Note" name="contactItem.web1Note" value="$esc.html($!contactItem.web1Note)" size="17" maxlength="30">
									</td>
                    				<td align="left">个人主页2:</td>
									<td align="left">
										<input type="text" id="contactItem.web2" name="contactItem.web2" value="$esc.html($!contactItem.web2)" size="25" maxlength="100">
										备注:<input type="text" id="contactItem.web2Note" name="contactItem.web2Note" value="$esc.html($!contactItem.web2Note)" size="17" maxlength="30">
									</td>
                    			</tr>
								<tr>
                    				<td align="left">其他:</td>
									<td align="left">
										<input type="text" id="contactItem.other1" name="contactItem.other1" value="$esc.html($!contactItem.other1)" size="25" maxlength="100">
										备注:<input type="text" id="contactItem.other1Note" name="contactItem.other1Note" value="$esc.html($!contactItem.other1Note)" size="17" maxlength="30">
									</td>
                    				<td align="left">其他2:</td>
									<td align="left">
										<input type="text" id="contactItem.other2" name="contactItem.other2" value="$esc.html($!contactItem.other2)" size="25" maxlength="100">
										备注:<input type="text" id="contactItem.other2Note" name="contactItem.other2Note" value="$esc.html($!contactItem.other2Note)" size="17" maxlength="30">
									</td>
                    			</tr>
								<tr>
                					<td align="left">备注:</td>
                					<td align="left" colspan="3">
										<textarea id="contactItem.note" name="contactItem.note" cols="113" rows="10">$esc.html($!contactItem.note)</textarea>
									</td>
                    			</tr>
                    			<tr>
									<td align="left">登录ID:</td>
                    				<td align="left" colspan="3">
											<input type="text" id="contactItem.loginId" name="contactItem.loginId" readonly="true"  value="$!contactItem.loginId" size="20" maxlength="20">
									</td>
                    			</tr>
                    		</table>
                    		<input type="button" value="添加" onclick="checkContactItemForm();" />&nbsp;&nbsp;
                    		<input type="reset" value="取消" />
                    	</form>
					</td>
					<td>&nbsp;&nbsp;</td>
				</tr>
				<tr><td colspan="4"></td></tr>
			</table>
    	</div>
    <script type="text/javascript">
		//设置地区的初始值
    	document.forms['contactItemForm'].elements['area'].value = "0";
    	initCat(document.forms['contactItemForm'].elements['area'].value);
    </script>
    </body>
</html>