<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=gbk"/>
		<title>iManager Contact</title>
		<link rel="stylesheet" type="text/css" media="all" href="../resource/css/globle.css"/>
		<script type="text/javascript" src="../resource/js/util.js"></script>
		<script type="text/javascript" src="../resource/js/contact/contact-type.js"></script>
	</head>
	<body>
    	#parse("/framework/header.vm")
		<div align="center">
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
        		<tr valign="top">
        			<td align="left" width="150px">
        				#parse("/contact/menu.vm")
        			</td>
        			<td>&nbsp;&nbsp;</td>
        			<td align="center">
                    	<h2>更新联系类型</h2>
                    	<form id="contactTypeForm" action="contactTypeAction!updateContactType.action" method="post">
                    		<table bgcolor="#FFF5EE" border="1" bordercolor="#FE4FA8" width="800" cellpadding="0" cellspacing="0">
                    			<input type="hidden" name="contactType.contactTypeId" value="$!contactType.contactTypeId" />
                    			<tr>
                    				<td align="left" width="100">联系类型:</td>
                    				<td align="left" width="700"><input type="text" id="contactType.contactType" name="contactType.contactType" value="$esc.html($!contactType.contactType)" size="100" maxlength="100"></td>
                    			</tr>
                    			<tr>
									<td align="left">登录ID:</td>
                    				<td align="left">
											<input type="text" id="contactType.loginId" name="contactType.loginId" readonly="true"  value="$!contactType.loginId" size="20" maxlength="20">
									</td>
                    			</tr>
                    		</table>
                    		<input type="button" value="更新" onclick="checkContactTypeForm();" />&nbsp;&nbsp;
                    		<input type="reset" value="取消" />
                    	</form>
					</td>
					<td>&nbsp;&nbsp;</td>
				</tr>
				<tr><td colspan="4"></td></tr>
			</table>
    	</div>
    </body>
</html>