<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	<title>iManager Blog</title>
    	<script type="text/javascript" src="../resource/js/util.js"></script>
		<script type="text/javascript" src="../resource/js/contact/contact-type.js"></script>
		<script type="text/javascript">
    		function doSubmitSearchForm(){
            	var theForm = document.getElementById("contactItemSearchForm");
            	var submitUrl = "$env.appUrl/contact/contactItemAction!getContactItemListBySearch.action";
            	theForm.action = submitUrl;
            	theForm.submit();
            }
			
			function doGetContactItemById(contactItemId){
            	var theForm = document.getElementById("contactItemSearchForm");
            	document.getElementById("contactItemId").value = contactItemId;
				var submitUrl = "$env.appUrl/contact/contactItemAction!getContactItemById.action";
            	theForm.action = submitUrl;
            	theForm.submit();
            }
    	</script>
    </head>
	
	<body topmargin="10" bgcolor="#99CCFF">
		<center>
    		#parse("/framework/header.vm")
    		<br/><br/><br/>
    			
    		<table border="0" width="80%" cellpadding="0" cellspacing="0">
        		<tr valign="top">
        			<td align="left" width="150">
        				#parse("/contact/menu.vm")
        			</td>
        			<td>&nbsp;&nbsp;</td>
        			<td align="center">
		
                		<h2>联系人详细列表</h2>
						
						<form id="contactItemSearchForm" action="" method="post">
                			<table border="0" width="100%" height="60" cellpadding="0" cellspacing="0" align="center" >
								<input type="hidden" id="contactItemId" name="contactItemId" value="" />
                				<tr>
									<td width="15%" align="left">姓名:</td>
									<td width="85%" align="left"><input type="text" name="contactSearchObj.name" value="$esc.html($!contactSearchObj.name)" size="20" maxlength="20"/></td>
                				</tr>
                				<tr>
									<td align="left">拼音:</td>
									<td align="left"><input type="text" name="contactSearchObj.pinyin" value="$esc.html($!contactSearchObj.pinyin)" size="20" maxlength="20"/></td>
								</tr>
                				<tr>
                					<td align="left">联系类型:</td>
                					<td align="left">
                						<select name="contactSearchObj.contactTypeId">
                							<option value="">请选择</option>
											#foreach($contactType in $contactTypeList)
                								<option value="$contactType.contactTypeId" #if("$contactType.contactTypeId" == $contactSearchObj.contactTypeId) selected #end>$esc.html($contactType.contactType)</option>
											#end
										</select>
                					</td>
                				</tr>
                				<tr>
                					<td align="left" colspan="2"><input type="button" name="button" onclick="doSubmitSearchForm();" value="查询" /></td>
                				</tr>
                			</table>
                		</form>
						
                		<table bgcolor="#E1E1E1" border="1" bordercolor="blue"width="100%" height="60"
                			cellpadding="0" cellspacing="0" align="center" >
                			<tr>
                				<th align="center">姓名</th>
                				<th align="center">联系类型</th>
								<th align="center">手机</th>
								<th align="center">QQ</th>
								<th align="center">Msn</th>
                				<th align="center">操作</th>
                			</tr>
							#foreach($contactItem in $contactItemList)
                				<tr>
                					<td align = "center">$esc.html($contactItem.name)</td>
                					<td align = "center">
										#if($!stringUtil.isBlank($!contactItem.contactType.contactType))
											无联系类型
										#else
											$esc.html($contactItem.contactType.contactType)
										#end
									</td>
									<td align = "center">#if($!stringUtil.isBlank($contactItem.mobile1))&nbsp;#else$esc.html($contactItem.mobile1)#end</td>
									<td align = "center">#if($!stringUtil.isBlank($contactItem.qq1))&nbsp;#else$esc.html($contactItem.qq1)#end</td>
									<td align = "center">#if($!stringUtil.isBlank($contactItem.msn1))&nbsp;#else$esc.html($contactItem.msn1)#end</td>
                					<td align = "center">
                						<a href="#" onclick="doGetContactItemById('$!contactItem.contactItemId');">更新</a>&nbsp;|
                						<a href="#" onclick="deleteContactItem('$!contactItem.contactItemId');">删除</a>
                					</td>
                				</tr>
							#end
                		</table>
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>