<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans>

	<bean id="consumeItemDao" class="com.imanager.consume.dao.impl.ConsumeItemDaoImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate" />
	</bean>
	
	<bean id="consumeTypeDao" class="com.imanager.consume.dao.impl.ConsumeTypeDaoImpl">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate" />
	</bean>
	
	<bean id="consumeService" class="com.imanager.consume.service.impl.ConsumeServiceImpl">
		<property name="consumeItemDao" ref="consumeItemDao" />
		<property name="consumeTypeDao" ref="consumeTypeDao" />
	</bean>

</beans>
