<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
		<title>iManager Register</title>
		<script type="text/javascript" src="../resource/js/util.js"></script>
		<script type="text/javascript" src="../resource/js/user/user.js"></script>
		
		<script language="javascript">
			window.onload = function() {
				document.getElementById("user.loginId").focus();
			}
		 </script>
</head>
	
	<body   topmargin="100" bgcolor="#99CCFF">
		<center>
		
		<h2>用户注册</h2>
		<form id="registerForm" action="userAction!registerUser.action" method="post">
			<table>
				<tr>
					<td align="right">
						用户ID：
					</td>
					<td align="left">
						<input type="text" id="user.loginId" name="user.loginId" onkeydown="KeyDownR(event)" value="$!user.loginId" size="20" maxlength="20">
					</td>
				</tr>
				<tr>
					<td align="right">
						用户姓名：
					</td>
					<td align="left">
						<input type="text" id="user.userName" name="user.userName" onkeydown="KeyDownR(event)" value="$!user.userName" size="20" maxlength="20">
					</td>
				</tr>
				<tr>
					<td align="right">
						密码：
					</td>
					<td align="left">
						<input type="password" id="user.password" name="user.password" onkeydown="KeyDownR(event)" value="" size="20" maxlength="20">
					</td>
				</tr>
				<tr>
					<td align="right">
						确认密码：
					</td>
					<td align="left">
						<input type="password" id="conformPassword" name="" onkeydown="KeyDownR(event)" value="" size="20" maxlength="20">
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="button" value="注册" onclick="checkRegisterForm();">
						&nbsp;&nbsp;&nbsp;
						<input type="reset" value="取消">
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						#if($actionErrors && $actionErrors.size() > 0)
							#foreach($err in $actionErrors)
								<font color="red">$esc.html($err)</font>
							#end
						#end
					</td>
				</tr>
			</table>
		</form>
		
		</center>
	</body>
</html>