<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<meta http-equiv="content-type" content="text/html; charset=gbk"/>
    	<title>iManager Consume</title>
		<link rel="stylesheet" type="text/css" media="all" href="../resource/css/globle.css"/>
    	<link rel="stylesheet" type="text/css" media="all" href="../resource/js/jscalendar/skins/aqua/theme.css" title="Aqua" />
		<script type="text/javascript" src="../resource/js/jscalendar/calendar.js"></script>
		<script type="text/javascript" src="../resource/js/jscalendar/showCalendar.js"></script>
		<script type="text/javascript" src="../resource/js/jscalendar/lang/cn_utf8.js"></script>
		<script type="text/javascript" src="../resource/js/util.js"></script>
		<script type="text/javascript" src="../resource/js/consume/consume-item.js"></script>
    </head>
    
    <body>
		#parse("/framework/header.vm")
		<div align="center">
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
        		<tr valign="top">
        			<td align="left" width="150px">
        				#parse("/consume/menu.vm")
        			</td>
        			<td>&nbsp;&nbsp;</td>
        			<td align="center">
                    	<h2>更新消费记录</h2>
                    	<form id="consumeItemForm" action="consumeItemAction!doUpdateConsumItem.action" method="post">
                    		<input type="hidden" name="consumeItem.consumeItemId" value="$!consumeItem.consumeItemId" />
							<input type="hidden" name="searchObj.itemName" value="$esc.html($!searchObj.itemName)" />
							<input type="hidden" name="searchObj.address" value="$esc.html($!searchObj.address)" />
							<input type="hidden" name="searchObj.startDate" value="$!dateUtil.date($!searchObj.startDate, 'yyyy-MM-dd')" />
							<input type="hidden" name="searchObj.endDate" value="$!dateUtil.date($!searchObj.endDate, 'yyyy-MM-dd')" />
							<input type="hidden" name="searchObj.inOrOut" value="$!searchObj.inOrOut" />
							<input type="hidden" name="searchObj.consumeTypeId" value="$!searchObj.consumeTypeId" />
                    		<table bgcolor="#FFF5EE" border="1" bordercolor="#FE4FA8" width="800" cellpadding="0" cellspacing="0">
                    			<tr>
									<td align="left" width="100">消费项目:</td>
                    				<td align="left" width="700"><input type="text" id="consumeItem.itemName" name="consumeItem.itemName" onkeydown="KeyDown(event)" value="$esc.html($!consumeItem.itemName)" size="100" maxlength="100"></td>
                    			</tr>
                    			<tr>
                    				<td align="left">消费地点:</td>
                    				<td align="left"><input type="text" id="consumeItem.address" name="consumeItem.address" onkeydown="KeyDown(event)" value="$esc.html($!consumeItem.address)" size="100" maxlength="100"></td>
                    			</tr>
                    			<tr>
                    				<td align="left">单价:</td>
                    				<td align="left"><input type="text" id="consumeItem.price" name="consumeItem.price" onkeydown="KeyDown(event)" value="$!consumeItem.price" size="100" maxlength="100"></td>
                    			</tr>
                    			<tr>
                    				<td align="left">数量:</td>
                    				<td align="left"><input type="text" id="consumeItem.quantity" name="consumeItem.quantity" onkeydown="KeyDown(event)" value="$!consumeItem.quantity" size="100" maxlength="100"></td>
                    			</tr>
                    			<tr>
                    				<td align="left">消费时间:</td>
                    				<td align="left">
                						<input type="text" id="consumeItem.feeDate" name="consumeItem.feeDate" readonly="true" value="$!dateUtil.date($!consumeItem.feeDate, 'yyyy-MM-dd')" size="20"><input type="button" value="日历" onclick="return showCalendar('consumeItem.feeDate', '%Y-%m-%d');">
											&nbsp;&nbsp;$!consumeItem.weekday
                					</td>
                    			</tr>
								<tr>
                    				<td align="left">消费类型:</td>
                    				<td align="left">
										<select id="consumeItem.consumeType.consumeTypeId" name="consumeItem.consumeType.consumeTypeId">
											<option value="0">请选择</option>
											#foreach($consumeType in $consumeTypeList)
												<option value="$consumeType.consumeTypeId" #if($consumeItem.consumeType.consumeTypeId == $consumeType.consumeTypeId) selected #end>$esc.html($consumeType.consumeType)</option>
											#end
										</select>
                    				</td>
                    			</tr>
                    			<tr>
                    				<td align="left">收支方向:</td>
                    				<td align="left">
										#if($!consumeItem.inOrOut == 'in')
                    						<input type="radio" name="consumeItem.inOrOut" value="in" checked="true">收入
                    						<input type="radio" name="consumeItem.inOrOut" value="out" >支出
                    					#else
                    						<input type="radio" name="consumeItem.inOrOut" value="in">收入
                    						<input type="radio" name="consumeItem.inOrOut" value="out" checked="true">支出
                    					#end
                    				</td>
                    			</tr>
                    			<tr>
									<td align="left">登录ID:</td>
                    				<td align="left">
										<input type="text" id="consumeItem.loginId" name="consumeItem.loginId" readonly="true" value="$!consumeItem.loginId" size="20" maxlength="20">
									</td>
                    			</tr>
                    		</table>
                    		<input type="button" value="更新" onclick="checkConsumeItemForm();" />&nbsp;&nbsp;
                    		<input type="reset" value="取消" />
                    	</form>
					</td>
					<td>&nbsp;&nbsp;</td>
				</tr>
				<tr><td colspan="4"></td></tr>
			</table>
    	</div>
    </body>
</html>