<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	<title>iManager Blog</title>
		<link rel="stylesheet" type="text/css" media="all" href="../resource/css/globle.css"/>
    	<script type="text/javascript" src="../resource/js/util.js"></script>
    	<script type="text/javascript" src="../resource/js/blog/item.js"></script>
    </head>
     <body>
    	#parse("/framework/header.vm")
		<div align="center">
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
        		<tr valign="top">
        			<td align="left" width="150px">
        				#parse("/blog/menu.vm")
        			</td>
        			<td>&nbsp;&nbsp;</td>
        			<td align="center">
                    	<h2>添加一级类型</h2>
                    	<form id="blogItem1Form" action="blogItemAction!addBlogItem1.action" method="post">
                    		<table bgcolor="#E1E1E1" border="1" bordercolor="#FE4FA8" width="75%" cellpadding="0" cellspacing="0">
                    			<tr>
                					<td align="left" width="90">一级类型中文名:</td>
                					<td align="left" width="100"><input type="text" id="blogItem1.itemChn" name="blogItem1.itemChn" onkeydown="KeyDown1(event)" value="$esc.html($!blogItem1.itemChn)" size="100" maxlength="100" /></td>
                    			</tr>
                    			<tr>
                					<td align="left">一级类型拼音:</td>
                					<td align="left"><input type="text" id="blogItem1.itemEng" name="blogItem1.itemEng" onkeydown="KeyDown1(event)" value="$esc.html($!blogItem1.itemEng)" size="100" maxlength="100" /></td>
                    			</tr>
                    			<tr>
                					<td align="left">登录ID:</td>
                                	<td align="left">
                						<input type="text" id="blogItem1.loginId" name="blogItem1.loginId" value="$!blogItem1.loginId" readonly="true" size="20" maxlength="20">
                					</td>
                    			</tr>
                    		</table>
                    		<input type="button" value="添加" onclick="checkBlogItem1Form();"/>&nbsp;&nbsp;
                    		<input type="reset" value="取消" />
                    	</form>
					</td>
					<td>&nbsp;&nbsp;</td>
				</tr>
				<tr><td colspan="4"></td></tr>
			</table>
    	</div>
    </body>
</html>