<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<title>iManager Blog</title>
		<script type="text/javascript" src="../resource/js/util.js"></script>
		<script type="text/javascript" src="../resource/js/blog/item.js"></script>
    </head>
	
    <body  topmargin="10" bgcolor="#99CCFF">
    	<center>
    	#parse("/framework/header.vm")
    		<br/><br/><br/>
    			
    		<table border="0" width="80%" cellpadding="0" cellspacing="0">
        		<tr valign="top">
        			<td align="left" width="150">
        				#parse("/blog/menu.vm")
        			</td>
        			<td>&nbsp;&nbsp;</td>
        			<td align="center">
                    	<h2>添加二级类型</h2>
                    	<form id="blogItem2Form" action="blogItemAction!addBlogItem2.action" method="post" onSubmit="return checkBlogItem2Submit();">
                    		<table bgcolor="#E1E1E1" border="1" bordercolor="blue"width="100%" height="60"
                    			cellpadding="0" cellspacing="0" align="center" >
                    			<tr>
									<td align="left" width="150px">一级类型中文名:</td>
									<td align="left">
										<select id="blogItem2.blogItem1Id" name="blogItem2.blogItem1Id">
											<option value="0">请选择</option>
											#foreach($blogItem1 in $blogItem1List)
												<option value="$blogItem1.blogItem1Id">$blogItem1.itemChn</option>
											#end
										</select>
									</td>
                    			</tr>
                    			<tr>
									<td align="left">二级类型中文名:</td>
									<td align="left">
										<input type="text" id="blogItem2.itemChn" name="blogItem2.itemChn" value="$esc.html($!blogItem2.itemChn)" size="100" maxlength="100" />
									</td>
                    			</tr>
                    			<tr>
									<td align="left">二级类型拼音:</td>
									<td align="left">
										<input type="text" id="blogItem2.itemEng" name="blogItem2.itemEng" value="$esc.html($!blogItem2.itemEng) size="100" maxlength="100" />
									</td>
                    			</tr>
                    			<tr>
									<td align="left">登录ID:</td>
                                	<td align="left">
                						<input type="text" id="blogItem2.loginId" name="blogItem2.loginId" value="$!blogItem2.loginId" readonly="true" size="20" maxlength="20">
                					</td>
                    			</tr>
                    		</table>
                    		<input type="submit" name="submit" value="添加" />&nbsp;&nbsp;
                    		<input type="reset" name="reset" value="取消" />
                    	</form>
					</td>
    			</tr>
    		</table>
    	</center>
    </body>
</html>