<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<meta http-equiv="content-type" content="text/html; charset=gbk"/>
        <title>iManager Blog</title>
		<link rel="stylesheet" type="text/css" media="all" href="../resource/css/globle.css"/>
		<link rel="stylesheet" type="text/css" media="all" href="../resource/js/jscalendar/skins/aqua/theme.css" title="Aqua" />
		<script type="text/javascript" src="../resource/js/jscalendar/calendar.js"></script>
		<script type="text/javascript" src="../resource/js/jscalendar/showCalendar.js"></script>
		<script type="text/javascript" src="../resource/js/jscalendar/lang/cn_utf8.js"></script>
        <script type="text/javascript" src="../dwr/interface/BlogItem.js"></script>
        <script type="text/javascript" src="../dwr/engine.js"></script>
        <script type="text/javascript" src="../dwr/util.js"></script>
        <script type="text/javascript" src="../resource/js/util.js"></script>
        <script type="text/javascript" src="../resource/js/blog/content.js"></script>
    </head>
    <body>
    	#parse("/framework/header.vm")
		<div align="center">
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
        		<tr valign="top">
        			<td align="left" width="150px">
        				#parse("/blog/menu.vm")
        			</td>
        			<td>&nbsp;&nbsp;</td>
        			<td align="center">
                    	<h2>添加Blog</h2>
                    	<form id="blogContentForm" action="blogContentAction!addBlogContent.action" enctype="multipart/form-data" method="post">
                    		<table bgcolor="#FFF5EE" border="1" bordercolor="#FE4FA8" width="800" cellpadding="0" cellspacing="0">
                    			<tr>
                					<td align="left" width="100">标题:</td>
                					<td align="left" width="700"><input type="text" id="blogContent.title" name="blogContent.title" onkeydown="KeyDown(event)" value="$esc.html($!blogContent.title)"  size="100" maxlength="100"></td>
                    			</tr>
                    			<tr>
                					<td align="left">内容:</td>
                					<td align="left">
										<textarea id="blogContent.content" name="blogContent.content" cols="99" rows="20">$esc.html($!blogContent.content)</textarea>
									</td>
                    			</tr>
                    			<tr>
                					<td align="left">日期:</td>
                					<td align="left">
                						<input type="text" id="blogContent.blogDate" name="blogContent.blogDate" readonly="true" value="$!dateUtil.date($!blogContent.blogDate, 'yyyy-MM-dd')" size="20"><input type="button" value="日历" onclick="return showCalendar('blogContent.blogDate', '%Y-%m-%d');">
										&nbsp;&nbsp;$blogContent.weekday
										&nbsp;&nbsp;天气:<input type="text" id="blogContent.weather" name="blogContent.weather" onkeydown="KeyDown(event)" value="$esc.html($!blogContent.weather)" size="20" maxlength="40">
										&nbsp;&nbsp;城市：<input type="text" id="blogContent.city" name="blogContent.city" onkeydown="KeyDown(event)" value="$esc.html($!blogContent.city)" size="20" maxlength="40">
									</td>
                    			</tr>
								<tr>
                					<td align="left">附件:</td>
                					<td align="left"><input type="file" id="attach" name="attach" ></td>
                    			</tr>
                    			<tr>
                    				<td align="left">类型：</td>
                    				<td align="left">
                    					<input type="radio" name="blogContent.blogType" value="yc" checked="true">原创
                    					<input type="radio" name="blogContent.blogType" value="zz">转载&nbsp;&nbsp;
                    					明细一：<select id="blogContent.blogItem1Id" name="blogContent.blogItem1Id" onchange="getBlogItem2List();">
                    						<option value="0">请选择</option>
                							#foreach($blogItem1 in $blogItem1List)
                								<option value="$blogItem1.blogItem1Id">$esc.html($blogItem1.itemChn)</option>
                							#end
                    					</select>&nbsp;&nbsp;
                    					明细二：<select id="blogContent.blogItem2Id" name="blogContent.blogItem2Id">
                    						<option value="0">请选择</option>
                    					</select>
                    				</td>
                    			</tr>
                    			<tr>
                					<td align="left">登录ID:</td>
                					<td align="left"><input type="text" id="blogContent.loginId" name="blogContent.loginId" value="$!blogContent.loginId" readonly="true" size="20" maxlength="20"></td>
                    			</tr>
                    		</table>
                    		<input type="button" value="添加" onclick="checkBlogContentForm();"/>&nbsp;&nbsp;
                    		<input type="reset" value="取消" />
                    	</form>
					</td>
					<td>&nbsp;&nbsp;</td>
				</tr>
				<tr><td colspan="4"></td></tr>
			</table>
    	</div>
    </body>
</html>