<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    	<title>iManager Blog</title>
    	<script type="text/javascript" src="../dwr/interface/BlogItem.js"></script>
    	<script type="text/javascript" src="../dwr/engine.js"></script>
    	<script type="text/javascript" src="../dwr/util.js"></script>
    	<script type="text/javascript" src="../resource/js/util.js"></script>
    	<script type="text/javascript" src="../resource/js/blog/item.js"></script>
    </head>
	
	<body topmargin="10" bgcolor="#99CCFF">
		<center>
    		#parse("/framework/header.vm")
    		<br/><br/><br/>
    			
    		<table border="0" width="80%" cellpadding="0" cellspacing="0">
        		<tr valign="top">
        			<td align="left" width="150">
        				#parse("/blog/menu.vm")
        			</td>
        			<td>&nbsp;&nbsp;</td>
        			<td align="center">
		
                		<h2>一级类型</h2>
                		<a href="blogItemAction!initAddBlogItem1.action">添加</a>
                		<table bgcolor="#E1E1E1" border="1" bordercolor="blue"width="100%" height="60"
                			cellpadding="0" cellspacing="0" align="center" >
                			<tr>
                				<th align="center">编号</th>
                				<th align="center">一级类型中文名</th>
                				<th align="center">一级类型拼音</th>
                				<th align="center">二级类型个数</th>
                				<th align="center">操作</th>
                			</tr>
							#foreach($blogItem1 in $blogItem1List)
                				<tr>
                					<td align = "center">$blogItem1.blogItem1Id</td>
                					<td align = "center">$esc.html($blogItem1.itemChn)</td>
                					<td align = "center">$esc.html($blogItem1.itemEng)</td>
                					<td align = "center">
										#if($!stringUtil.isBlank("$!blogItem1.item2Count"))
											0
                						#else
											$!blogItem1.item2Count
                						#end
                					</td>
                					<td align = "center">
                						<a href="blogItemAction!initUpdateItem1.action?blogItem1Id=$!blogItem1.blogItem1Id">更新</a>&nbsp;|&nbsp;
                						<a href="#" onclick=deleteBlogItem1($!blogItem1.blogItem1Id)>删除</a>
                					</td>
                				</tr>
							#end
                		</table>
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>