#*<table bgcolor="#E1E1E1" border="1" bordercolor="blue" width="150" height="60"
		cellpadding="0" cellspacing="0">
	<tr valign="middle">
		<td align="center"><a href="blogContentAction!initGetBlogContentList.action">我的博客列表</a></td>
	</tr>
	<tr valign="middle">
		<td align="center"><a href="blogContentAction!initAddBlogContent.action">添加我的博客</a></td>
	</tr>
	<tr valign="middle">
		<td align="center"><a href="blogItemAction!getBlogItem1ListByLoginId.action">管理一级类型</a></td>
	</tr>
	<tr valign="middle">
		<td align="center"><a href="blogItemAction!getBlogItem2ListByLoginId.action">管理二级类型</a></td>
	</tr>
</table>
<div class="div_left_menu">
	<div><a href="blogContentAction!initGetBlogContentList.action">我的博客列表</a></div>
	<div><a href="blogContentAction!initAddBlogContent.action">添加我的博客</a></div>
	<div><a href="blogItemAction!getBlogItem1ListByLoginId.action">管理一级类型</a></div>
	<div><a href="blogItemAction!getBlogItem2ListByLoginId.action">管理二级类型</a></div>
</div>*#
<table border="0" cellpadding="0" cellspacing="0">
	<tr><td><div class="div_left_menu"><a href="blogContentAction!initGetBlogContentList.action">我的博客列表</a></div></td></tr>
	<tr><td><div class="div_left_menu"><a href="blogContentAction!initAddBlogContent.action">添加我的博客</a></div></td></tr>
	<tr><td><div class="div_left_menu"><a href="blogItemAction!getBlogItem1ListByLoginId.action">管理一级类型</a></div></td></tr>
	<tr><td><div class="div_left_menu"><a href="blogItemAction!getBlogItem2ListByLoginId.action">管理二级类型</a></div></td></tr>
</table>